{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
			  {% for i in cafes: %}
 <thead>
    <tr>
		    {% set a= namespace(value=0) %}
		    {% for row in range(7): %}
		    {% if a.value == 1 and i[a.value] != "Location": %}
		    <th scope="col"><a href="{{i[a.value]}}">Maps Link</a></th>
		    {% else %}
      <th scope="col">{{i[a.value]}}</th>
		    {% endif %}
		    {% set a.value = a.value +1 %}
		    {% endfor %}
    </tr>
  </thead>
			  {% endfor %}
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
